/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';
body{
    margin-left: 15px;
}
h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
li{
    list-style: none;
}
.search-input {
    display: inline-block;
    box-sizing: border-box;
    width: 250px;
    height: 42px;
    padding: 0 20px;
    overflow: hidden;
    border: none;
    border-radius:15px;
    font: normal 20px/normal "Antic", Helvetica, sans-serif;
    text-decoration: normal;
    text-overflow: ellipsis;
    background-color: rgb(233, 233, 233);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
    transition: all 502ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        width: 300px;
        opacity: 0.82;
        transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    &:focus {
        width: 300px;
        cursor: default;
        padding: -13px 20px 0;
        transition: all 601ms ubic-bezier(0.4, 0, 0.2, 1);
      }
  }
  
  .js-result-container {
    text-overflow: ellipsis;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  input:focus {
    outline: none;
  }
  
 